.vocs_HomePage_tagline {
    font-size: 2em !important;
    font-weight: bold !important;
  }

.vocs_HomePage_description {
  font-size: 1.2em !important;
}

.stagline  {
   font-size: 0.9em !important;
}