.vocs_HomePage_tagline {
    font-size: 2em !important;
    font-weight: bold !important;
  }

.vocs_HomePage_description {
  font-size: 1.2em !important;
}

.stagline  {
   font-size: 0.9em !important;
}

.primary_button {
  background-color: #836EF9 !important;
  border:none !important;
}

.vocs_Button_button {
  
}